<strong>Olá, {{ studentName }}</strong>
<p>Obrigado pelo contato. Confira os detalhes da resposta:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da pergunta: </strong> {{ question_date }} <br />
</p>
<p>A equipe GymPoint agradece o contato. Quaisquer dúvida não hesite em nos contactar. <br />
  Estamos aqui para ajudá-lo atingir seus objetivos :)
</p>
